@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.cards {
box-sizing: border-box;
margin-left: 8px;
}
.card__single {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 125px;
  /* background: #cec5ff; */
  box-shadow: 0px 9.22px 15px rgba(206, 197, 255, 0.15);
  border-radius: 10px;
  padding: 15px 10px;
}
.card__single--info{
    display: flex;
    flex-direction: column;
}
.card__single--info > span{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
text-align: center;

color: #FFFFFF;
}
.card__single--icon{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}
/* .myIcon{
    color: #cec5ff ;
} */