.analytics__main--container{
    margin-left: 267px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 100%;
    background:#F8F7FB;
}
.analytics__cards--container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}